.App {
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(189,191,206);
  justify-content: center;
}

.product {
  border-radius: 40%;
  background-color: rgb(31,31,39);
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.product img {
  height: 150px;
  margin-bottom: 10px;
}

.product-details {
  color: white;
  height: 40%;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 4%;
}

button {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
h1{
  width: 100%;
  color: white;
  background-color: rgb(27,28,33);
}
